{% extends 'Inherit/upper-nav.html' %}

{% load static %}

<!--The head tag inherited from upper-nav.html-->
{% block head %}

    <!--Connect The Styling-->
    <link rel="stylesheet" href="{% static '/Css/Main/all_books.css' %}">

    <!--The Page Title-->
    <title>Catalog Point ::- All Transactions</title>

{% endblock %}

<!--The lower section-->
{% block lower_section %}

    <!--Main list section-->
    <div class="main_list_section">

        <div class="heading_section">
            <h1>All Transactions</h1>
        </div>

        <!--Search bar section-->
        <div class="search_bar_section">

            <!--Number and categories-->
            <div class="search_bar_section_child" >
                <!--Number of books-->
                <div class="book_number">
                    <span>2</span>
                </div>

                <!--Category button-->
                <div class="category_button" id="category_button">
                    <span id="category_button_name" >All Filters</span>
                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m16.843 10.211c.108-.141.157-.3.157-.456 0-.389-.306-.755-.749-.755h-8.501c-.445 0-.75.367-.75.755 0 .157.05.316.159.457 1.203 1.554 3.252 4.199 4.258 5.498.142.184.36.29.592.29.23 0 .449-.107.591-.291 1.002-1.299 3.044-3.945 4.243-5.498z"/></svg>

                    <!--The category list-->
                    <div class="category_list" id="category_list"></div>

                </div>
                
            </div>
            <div class="search_bar_section_child" >
                <div class="the_search_bar">
                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.985 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007zm.741 8.499h-4.5c-.414 0-.75.336-.75.75s.336.75.75.75h4.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm3-2.5h-7.5c-.414 0-.75.336-.75.75s.336.75.75.75h7.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm0-2.5h-7.5c-.414 0-.75.336-.75.75s.336.75.75.75h7.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z" fill-rule="nonzero"/></svg>
                    <input type="text" id="the_search_bar" placeholder="Search transaction with Full Name Or Book Title">
                </div>
            </div>
            <div class="search_bar_section_child" >
            </div>

        </div>

        <!--The table section-->
        <div class="the_table_section">

            <!--The table-->
            <table>
                <!--The head-->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Profile</th>
                        <th>Cover</th>
                        <th>Full Name</th>
                        <th>Title</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Days</th>
                        <th>Dept</th>
                        <th></th>
                      </tr>
                </thead>

                <!--The table body-->
                <tbody id="table_body">
                    <tr>
                        <td>1</td>

                        <!--profile image-->
                        <td>
                            <div class="user_image">
                                <img src="{% static 'Images/hobbit.jpg' %}" alt="cover_book">
                            </div>
                        </td>

                        <!--cover image-->
                        <td>
                            <div class="cover_image">
                                <img src="{% static 'Images/hobbit.jpg' %}" alt="cover_book">
                            </div>
                        </td>

                        <td>Alex Meta</td>
                        <td>The Hobbit</td>
                        <td>11 Nov 2023</td>
                        <td>11 Nov 2023</td>
                        <td>2</td>
                        <td>ksh 200</td>
                        <td>
                            <div class="book_list_controls">

                                <!--Eye-->
                                <div class="book_control">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>
                                </div>

                                <!--Pen-->
                                <!-- <div class="book_control">
                                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.481 15.659c-1.334 3.916-1.48 4.232-1.48 4.587 0 .528.46.749.749.749.352 0 .668-.137 4.574-1.492zm1.06-1.061 3.846 3.846 11.321-11.311c.195-.195.293-.45.293-.707 0-.255-.098-.51-.293-.706-.692-.691-1.742-1.74-2.435-2.432-.195-.195-.451-.293-.707-.293-.254 0-.51.098-.706.293z" fill-rule="nonzero"/></svg>
                                </div> -->

                                <!--Delete-->
                                <!-- <div class="book_control">
                                    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z" fill-rule="nonzero"/></svg>
                                </div> -->
                            </div>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>

{% endblock %}

<!--Add Javascript File-->
{% block javaS %}

    <script src="{% static '/Js/Librarian/transact.js' %}"></script>

{% endblock %}