*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Create book section */
.create_book_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Message popups */
.message_popup {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    display: none; /* Flex to change pop ups */
    align-items: center;
    justify-content: space-between;
    color: #414141;
    z-index: 4;
}

.message_popup span {
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}

.message_pop_icon {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_pop_icon svg {
    width: 20px;
    fill: #F3F3F3;
} 

/* Success */
#message_popup_success {
    background-color: #CFE8D3;
    border: 1px solid #2CA631;
}

#message_popup_success .message_pop_icon {
    background-color: #2CA631;
}

/* Failed */
#message_popup_failed {
    background-color: #FAEEEB;
    border: 1px solid #C53B3B;
}

#message_popup_failed .message_pop_icon {
    background-color: #C53B3B;
}

/* Book inputs */
.create_book_form {
    width: 450px;
    height: max-content;
}

.book_input,.book_cover_section,.book_controls,.book_text_area {
    margin-bottom: 20px;
}

.create_book_form h1 {
    font-size: 25px;
    color: #414141;
    text-align: center;
    margin-bottom: 20px;
}

.book_input {
    width: 100%;
    height: 50px;
    border: 1px solid #ACACAC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    fill: #F3F3F3;
}

.input_icon {
    width: 50px;
    height: 50px;
    background-color: #414141;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_icon svg {
    width: 25px;
}

.book_input input {
    height: 100%;
    width: calc(100% - 50px);
    font-size: 17px;
    padding-left: 10px;
    outline: none;
    background: none;
    border: none;
    color: #406CEE;
}

.book_input input::placeholder {
    color: #ACACAC;
    font-size: 17px;
}

.book_input:focus-within {
    border: 1px solid #406CEE;
}

.book_text_area {
    width: 100%;
    height: 150px;
    border: 1px solid #ACACAC;
    border-radius: 10px;
    resize: none;
    font-size: 17px;
    padding: 10px;
    color: #406CEE;
    background: none;
    outline: none;
}

.book_text_area::placeholder {
    color: #ACACAC;
    font-size: 17px;
}

.book_text_area:focus {
    border: 1px solid #406CEE;
}

/*Book cover*/
.book_cover_section {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#book_cover_select_btn,#book_category_select_btn {
    width: max-content;
    height: 100%;
    background-color: #414141;
    fill: #F3F3F3;
    color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#book_cover_select_btn:hover,#book_category_select_btn:hover {
    background-color: #406CEE;
}

#book_cover_select_btn svg,#book_category_select_btn svg{
    width: 25px;
    margin-left: 15px;
}

.book_cover_name {
    width: 260px;
    height: 100%;
    border: 1px solid #ACACAC;
    border-radius: 10px;
    fill: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #414141;
}

.book_cover_name_2 {
    width: 280px;
}

.book_cover_name span {
    margin-left: 15px;
}

/* Cover instructions */
.cover_instructions {
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
    border-radius: 10px;
}

.instruct_head {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ACACAC;
    padding-left: 15px;
    color: #414141;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.instruct_head svg {
    width: 25px;
    fill: #414141;
    margin-right: 10px;
}

.instruct_head span {
    font-size: 17px;
    font-weight: 500;
    color: #414141;
}

.instruct_body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F3F3F3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.instruct_body span {
    margin-bottom: 10px;
    font-weight: 400;
    color: #414141;
}

/* Controls */
.book_controls {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book_control_btn {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #F3F3F3;
    fill: #F3F3F3;
    background-color: #414141;
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.book_control_btn svg {
    width: 25px;
    margin-left: 15px;
}

.book_control_btn:first-child:hover {
    background-color: #C53B3B;
}

.book_control_btn:hover {
    background-color: #406CEE;
}

/* Spinner */
.upload_spinner {
    display: none;
    width: 35px;
    height: 35px;
    border: 4px solid #dddddd;
    border-top-color: #406CEE;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}


/* Select category popup */
.select_category_popup {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.inner_select_category {
    width: 400px;
    min-height: 200px;
    height: max-content;
}

.select_category_head {
    width: 100%;
    height: 45px;
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.select_category_head_left {
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.select_category_head_left svg {
    width: 25px;
    fill: #414141;
    margin-right: 10px;
}

.select_category_head_left span {
    font-size: 17px;
    font-weight: 500;
    color: #414141;
}

.select_category_head_right {
    width: 35px;
    height: 35px;
    border-radius: 6px;
    margin-right: 10px;
    background-color: #414141;
    fill: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.select_category_head_right:hover {
    background-color: #b93636;
}

.select_category_head_right svg {
    width: 25px;
}

.select_category_body {
    background-color: white;
    width: 100%;
    height: max-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Category items */
.all_category_container {
    width: 100%;
    height: max-content;
    display: none; /* Flex to show category section */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}

.category_item_container {
    width: calc(100% - 20px);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.category_item {
    width: calc(100% - 55px);
    height: 100%;
    background-color: #dcdcdc;
    color: #414141;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.category_item:hover {
    background-color: #406CEE;
    color: #F3F3F3;
}

.category_item_info {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;
    fill: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.category_item_info:hover {
    background-color: #406CEE;
    fill: #F3F3F3;
}

.category_item_info svg {
    width: 25px;
}

#category_item_info_popup {
    position: absolute;
    width: 400px;
    height: max-content;
    background-color: #F3F3F3;
    border-radius: 10px;
    top: 0;
    left: 60px;
}

.category_item_info_popup_head {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #dcdcdc;
}

#category_item_info_popup_close {
    width: 35px;
    height: 35px;
    border-radius: 6px;
    margin-right: 10px;
    background-color: #414141;
    fill: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#category_item_info_popup_close:hover {
    background-color: #b93636;
}

.category_item_info_popup_body {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

#category_item_info_popup_text {
    font-size: 15px;
    color: #414141;
}

/* Category loading */

.category_loading_section {
    width: 100%;
    height: max-content;
    display: flex; /* Flex to show loading animation */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}

.category_loading_item {
    width: calc(100% - 20px);
    height: 45px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.skeleton_animation {
    animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton {
    0% {
        background-color: #F3F3F3;
    }
    100% {
        background-color: #c3c3c3;
    }
}