*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Main section */
.main_list_section {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Message popups */
.message_popup {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    display: none; /* Flex to change pop ups */
    align-items: center;
    justify-content: space-between;
    color: #414141;
    z-index: 4;
}

.message_popup span {
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}

.message_pop_icon {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_pop_icon svg {
    width: 20px;
    fill: #F3F3F3;
} 

/* Success */
#message_popup_success {
    background-color: #CFE8D3;
    border: 1px solid #2CA631;
}

#message_popup_success .message_pop_icon {
    background-color: #2CA631;
}

/* Failed */
#message_popup_failed {
    background-color: #FAEEEB;
    border: 1px solid #C53B3B;
}

#message_popup_failed .message_pop_icon {
    background-color: #C53B3B;
}

/* heading section */
.heading_section {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading_section h1 {
    font-size: 25px;
    font-weight: 600;
    color: #414141;
}

/* Seach section */
.search_bar_section {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_bar_section_child {
    width: 33%;
    height: 100%;
}


/* Number and category */
.search_bar_section_child:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

/* Book number */
.book_number {
    width: max-content;
    min-width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #414141;
    color: #f3f3f3;
}

.book_number span {
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
}

.category_button {
    position: relative;
    min-width: 150px;
    width: max-content;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #414141;
    color: #f3f3f3;
    fill: #f3f3f3;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

.category_button:hover {
    background-color: #406CEE;
}

.category_button span {
    margin-left: 10px;
    font-size: 16px;
    pointer-events: none;
}

.category_button svg {
    margin-right: 10px;
    width: 23px;
    pointer-events: none;
}

.category_list {
    position: absolute;
    width: 200px;
    top: 60px;
    left: 0;
    border-radius: 10px;
    height: max-content;
    background-color: #ACACAC;
    display: none; /* flex to show categories */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.category_list_item {
    width: calc(100% - 10px);
    height: 45px;
    background-color: #414141;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    color: #F3F3F3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.category_list_item:hover {
    background-color: #406CEE;
}

/* Search bar */
.search_bar_section_child:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.the_search_bar {
    width: 100%;
    height: 45px;
    border: 1px solid #414141;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    fill: #414141;
}

.the_search_bar svg {
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
}

.the_search_bar input {
    width: calc(100% - 50px);
    height: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background: none;
    color: #406CEE;
}

.the_search_bar input::placeholder {
    color: #414141;
}

.the_search_bar:focus-within {
    border: 1px solid #406CEE;
    fill: #406CEE;
}

/* Add Book section */
.search_bar_section_child:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.add_book_button {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #414141;
    color: #f3f3f3;
    fill: #f3f3f3;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.add_book_button:hover {
    background-color: #406CEE;
}

.add_book_button span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}

.add_book_button svg {
    margin-right: 10px;
    width: 27px;
}

/* The table secton */
.the_table_section {
    width: 100%;
    height: max-content;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.the_table_section table {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    color: #414141;
}

thead {
    border-bottom: 1px solid #414141;
}

thead th {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

tr:hover {
    background-color: #f3f3f3;
    color: #406CEE;
}

/* Cover image */
.cover_image {
    width: 50px;
    height: 70px;
    object-fit: cover;
}

.cover_image img {
    width: 100%;
    height: 100%;
}

.user_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.user_image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/* Book controls */
.book_list_controls {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.book_control {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #414141;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.book_control:hover {
    background-color: #406CEE;
}

.book_control svg {
    width: 25px;
    fill: #f3f3f3;
    cursor: pointer;
}