*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Main infomation section */
.main_info_section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* Message popups */
.message_popup {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    display: none; /* Flex to change pop ups */
    align-items: center;
    justify-content: space-between;
    color: #414141;
    z-index: 4;
}

.message_popup span {
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}

.message_pop_icon {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_pop_icon svg {
    width: 20px;
    fill: #F3F3F3;
} 

/* Success */
#message_popup_success {
    background-color: #CFE8D3;
    border: 1px solid #2CA631;
}

#message_popup_success .message_pop_icon {
    background-color: #2CA631;
}

/* Failed */
#message_popup_failed {
    background-color: #FAEEEB;
    border: 1px solid #C53B3B;
}

#message_popup_failed .message_pop_icon {
    background-color: #C53B3B;
}

/*The inner info section*/

.info_section {
    width: 700px;
    min-height: 100%;
    border-radius: 10px;
    height: max-content;
    background-color: #F3F3F3;
}

/* Image section */
.image_and_details {
    width: 100%;
    height: max-content;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* The image section */
.image_section {
    width: 40%;
    height: max-content;
    min-height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.image_section_transact {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.the_image_in_section {
    width: 200px;
    height: max-content;
}

.the_image_in_section_user {
    width: 200px;
    height: 200px;
    background-color: #414141;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the_image_in_section_user span {
    font-size: 40px;
    font-weight: 500;
    color: #F3F3F3;
}

.image_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* The details section */
.details_section {
    width: 60%;
    height: max-content;
    min-height: 300px;
    padding-top: 25px;
}

.single_detail_section {
    width: calc(100% - 20px);
    height: 50px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.single_detail_section span {
    font-size: 17px;
    font-weight: 500;
    color: #414141;
}

.singe_det_icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #414141;
    fill: #F3F3F3;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singe_det_icon svg {
    width: 23px;
    height: 23px;
}

/* Description section */
.description_section {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the_description {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

/* Controls section */
.detail_controls {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_det_control {
    width: max-content;
    height: 45px;
    background-color: #414141;
    color: #F3F3F3;
    fill: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 15px;
    margin: 15px;
}

.single_det_control_pending {
    background-color: #406CEE;
    display: flex;
}

#single_det_control_pending,#single_det_control_approved,#single_det_control_delete {
    display: none;
}

.single_det_control_approved {
    background-color: #2CA631;
    display: flex;
}


.single_det_control_denied {
    background-color: #C53B3B;
    display: flex;
}

.single_det_control:hover {
    background-color: #406CEE;
}

.single_det_control_delete:hover {
    background-color: #C53B3B;
}

.single_det_control svg {
    width: 25px;
    margin-right: 10px;
}


/* Table section */

.table_section {
    width: 100%;
    height: max-content;
    min-height: 300px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.table_section table {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    color: #414141;
}

thead {
    border-bottom: 1px solid #414141;
    background-color: #D9D9D9;
}

thead th {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

td, th {
    text-align: left;
    padding: 8px;
}


tr {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

tbody tr:hover {
    background-color: white;
    color: #406CEE;
}

tbody {
    font-size: 15px;
    background-color: D9D9D9;
}

.user_lend_detail {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user_icon,.edit_control {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #F3F3F3;
    fill: #F3F3F3;
    background-color: #414141;
    transition: 0.2s ease-in-out;
}

.the_table_cont_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit_control:hover {
    background-color: #406CEE;
}

.edit_control svg {
    width: 20px;
}

/* Borrow poup */
.borrow_popup {
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: 3;
    display: none; /* show borrow popup */
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.inner_borrow_pop {
    width: 300px;
    min-height: 220px;
    height: max-content;
    border-radius: 10px;
    background-color: white;
}

.borrow_pop_heading {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #D9D9D9;
}

.borrow_pop_heading span {
    font-size: 19px;
    font-weight: 500;
    color: #414141;
}

.borrow_pop_close {
    width: 40px;
    height: 40px;
    background-color: #414141;
    border-radius: 10px;
    fill: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.borrow_pop_close:hover {
    background-color: #C53B3B;
}

.borrow_pop_close svg {
    width: 30px;
}

.borrow_dates_section {
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 500;
    color: #414141;
}

.borrow_date {
    width: calc(100% - 20px);
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    background-color: #F3F3F3;
    margin-bottom: 10px;
}

.borrow_date span {
    margin-right: 15px;
}

#no_of_days,#cost_in_ksh {
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #414141;
    border-radius: 10px;
    padding-left: 10px;
}

.proceed_with_borrow {
    width: calc(100% - 20px);
    height: 45px;
    background-color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F3F3F3;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.proceed_with_borrow:hover {
    background-color: #406CEE;
}