*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Main infomation section */
.main_info_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.info_section {
    width: 700px;
    min-height: 100%;
    border-radius: 10px;
    height: max-content;
    background-color: #F3F3F3;
}

/* Image section */
.image_and_details {
    width: 100%;
    height: max-content;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* The image section */
.image_section {
    width: 40%;
    height: max-content;
    min-height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.the_image_in_section {
    width: 200px;
    height: max-content;
}

.the_image_in_section_user {
    width: 200px;
    height: 200px;
}

.image_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* The details section */
.details_section {
    width: 60%;
    height: max-content;
    min-height: 300px;
    padding-top: 25px;
}

.single_detail_section {
    width: calc(100% - 20px);
    height: 50px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.single_detail_section span {
    font-size: 17px;
    font-weight: 500;
    color: #414141;
}

.singe_det_icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #414141;
    fill: #F3F3F3;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singe_det_icon svg {
    width: 23px;
    height: 23px;
}

/* Description section */
.description_section {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.the_description {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
}

/* Controls section */
.detail_controls {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_det_control {
    width: max-content;
    height: 45px;
    background-color: #414141;
    color: #F3F3F3;
    fill: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 15px;
    margin: 15px;
}

.single_det_control:hover {
    background-color: #406CEE;
}

.single_det_control svg {
    width: 25px;
    margin-right: 10px;
}


/* Table section */

.table_section {
    width: 100%;
    height: max-content;
    min-height: 300px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.table_section table {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    color: #414141;
}

thead {
    border-bottom: 1px solid #414141;
    background-color: #D9D9D9;
}

thead th {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

td, th {
    text-align: left;
    padding: 8px;
}


tr {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

tbody tr:hover {
    background-color: white;
    color: #406CEE;
}

tbody {
    font-size: 15px;
    background-color: D9D9D9;
}

.user_lend_detail {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user_icon,.edit_control {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #F3F3F3;
    fill: #F3F3F3;
    background-color: #414141;
    transition: 0.2s ease-in-out;
}

.the_table_cont_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit_control:hover {
    background-color: #406CEE;
}

.edit_control svg {
    width: 20px;
}